body {
    background-color:aquamarine;
    font-family: 'Lucida Sans', Verdana, Geneva, sans-serif;
}

h1 {
    text-align: center;
    color:black;
}

p {
    text-align: justify;
    width: fit-content;
}

.center {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.foto {
    background-color:chocolate;
}

.foto img {
    width: 23%;
}

.cod {
    margin: auto;
    width: 80%;

}

.cod p {
    background-color:coral;
    border: 5px dotted maroon;
    text-align: center;
    font-weight: bold;
    color:cornsilk; 
    display: block;
    margin: 0 auto;
}

